/*=====================================
 = Author:  S1110307085, Sabine Winkler
 = Group:   MMP5UEG1
 = Since:   2013-10-31
 = Version: V1 (Exercise 1)
 ====================================== */

@font-face {
	font-family: 'SuperMarioBros';
	src: url('../assets/super-mario-bros--3-webfont.eot'); 									  /* IE9 Compat Modes */
	src: url('../assets/super-mario-bros--3-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../assets/super-mario-bros--3-webfont.woff') format('woff'), 					  /* Modern Browsers */
	     url('../assets/super-mario-bros--3-webfont.ttf')  format('truetype'), 				  /* Safari, Android, iOS */
	     url('../assets/super-mario-bros--3-webfont.svg#svgFontName') format('svg'); 		  /* Legacy iOS */
}