/*========================================================================
 * Author:  S1110307085, Sabine Winkler
 * Group:   MMP5UEG1
 * Since:   2013-10-31
 *
 * The coin count is always in the range [0, 19].
 * If the coin count would become >= 20, the player gets a further life
 * and the coin count is reset to 0 (plus the won coins of the last play,
 * if there are still any left).
 * If the coin count would become negative, the player loses one life and the
 * coin count is reset to 10 (minus the lost coins of the last play,
 * if there are still any left).
 * One run costs 2 coins, which are substracted from the reached result
 * at the end of one run. The total result (result - 2) is shown
 * right beside of the coin count. A run can also be started, if the coin
 * coint is already 0, because the player could still win with a result >= 2.
 * If the life count is 0 and the coins would become negative, the player
 * loses and a "Game Over" alert is printed. The slotmachine is reset
 * to coin count = 10 and life count = 1.
 ======================================================================== */

$bgColor: rgb(154, 78, 0);

@import "fonts";
@import "reset";
@import "stage";

body {
    background: $bgColor;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: 'SuperMarioBros', Fallback, sans-serif;
    color: #333;
    margin: 0;
}

.slots {
  position: absolute;
  left: 171px;
  top: 187px;
  height: 42px;
  width: 42px;
  
  background-image: url('../images/smb2_various_sheet.png');
  background-size: 900px 910px;
}

.status {
  position: absolute;
  left: 171px;
  top: 187px;
  width: 100px;
  
  background-color: black;
  color: white;
  font-size: 20px;
  background-size: 900px 910px;
}

#slot2 {
  left: 235px;
}

#slot3 {
  left: 299px;
}

.activatedSlot1 {
  animation: cherryTwist 500ms 10 steps(1)
}
.activatedSlot2 {
  animation: starTwist 500ms 13 steps(1)
}
.activatedSlot3 {
  animation: vegetableTwist 500ms 16 steps(1)
}

.cherry {
  background-position: -489px -475px;
}

.star {
  background-position: -309px -475px;
}

.vegetable {
  background-position: -429px -475px;
}

.enemy {
  background-position: -369px -475px;
}

.coin {
  left: 287px;
  top: 264px;
}

.score {
  left: 335px;
  top: 264px;
}

.life {
  left: 360px;
  top: 345px;
}

@keyframes cherryTwist {
    0% { background-position: -489px -475px; /* cherry */    }
   25% { background-position: -309px -475px; /* star */      }
   50% { background-position: -369px -475px; /* enemy */     }
   75% { background-position: -429px -475px; /* vegetable */ }
  100% { background-position: -489px -475px; /* cherry */    }
}

@keyframes starTwist {
    0% { background-position: -309px -475px; /* star */      }
   25% { background-position: -429px -475px; /* vegetable */ }
   50% { background-position: -369px -475px; /* enemy */     }
   75% { background-position: -489px -475px; /* cherry */    }
  100% { background-position: -309px -475px; /* star */      }
}

@keyframes vegetableTwist {
    0% { background-position: -429px -475px; /* vegetable */ }
   25% { background-position: -369px -475px; /* enemy */     }
   50% { background-position: -309px -475px; /* star */      } 
   75% { background-position: -489px -475px; /* cherry */    }
  100% { background-position: -429px -475px; /* vegetable */ }
}